@media (max-width: 992px) {
    .header {
        padding: 0 10px;
    }

    .promo {
        &__wrapper {
            padding-right: 10px;
        }
    }
    .advantages {
        padding: 73px 5px 65px 5px;
        &__block {
            padding: 0 5px;
        }
    }
    .consultation {
        padding: 90px 10px 98px 10px;
    }
}

@media (max-width: 767px) {
    .header {
        &__logo {
            width: 200px;
        }

        &__official {
            font-size: 11px;

            span {
                font-size: 15px;
            }
        }

        &__phone {
            font-size: 15px;
        }
    }

    .button {
        width: 146px;

        &_main {
            margin-top: 68px;
            width: 300px;
            height: 50px;
            font-size: 16px;
            line-height: 16px;
        }
    }

    .promo {
        &__wrapper {
            margin-top: 81px;
        }

        &__header {
            font-size: 40px;
        }
    }
    .advantages {
        padding: 73px 5px 65px 5px;
        &__block {
            padding: 0 5px;
        }
    }
    .consultation {
        padding: 90px 10px 98px 10px;
    }
    .carousel {
        &__inner {
            width: 550px;
            img {
                width: 100%;
            }

    }
}
}

@media (max-width: 575px) {
    .header {
        &__logo {
            width: 145px;
        }

        &__official {
            display: none;

        }
    }

    .promo {
        padding-bottom: 55px;

        &__wrapper {
            margin-top: 71px;
        }

        &__header {
            font-size: 30px;
            text-align: right;
        }

        &__subheader {
            font-size: 20px;
            text-align: right;
        }

        &__icons {
            width: 310px;

        }

        &__icon {
            width: 100px;
            font-size: 12px;
        }
    }

    .button {
        &_main {
            margin-top: 60px;
            width: 290px;
            height: 50px;
            font-size: 16px;
            line-height: 16px;
        }
    }
    .advantages {
        padding: 55px 0 55px 0;
        &__header {
            font-size: 23px;
        }
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items:center;
            margin-top: 35px;
        }
        &__block {
            width: 300px;
        }
        &__text {
            margin-bottom: 30px;
        }
    }
    .consultation {
        min-height: 580px;
        padding: 55px 10px 55px 10px;
        &__header {
            font-size: 20px;
            line-height: 30px;
        }
    
        &__descr {
            font-weight: 500;
            font-size: 15px;
        }
        .feed-form {
            width: 290px;
        }
    }
    .button{
        &_submit {
            width: 290px;
        }
    }
   
}